[Desktop Entry]
Encoding=UTF-8
Name=Lien vers [Java] PatchMatch (Inpainting avec texture)
Type=Link
URL=https://www.developpez.net/forums/d947804/general-developpement/algorithme-mathematiques/contribuez/java-patchmatch-inpainting-texture/
Icon=text-html
